<section class="spotlight">
  <div class="image">
    <img src="images/img001.jpg" alt="" />
  </div>
  <div class="content">
    <p>Todo comenzó en el verano de 2017....</p>
  </div>
</section>
<section class="spotlight">
  <div class="image">
    <img src="images/img002.jpg" alt="" />
  </div>
  <div class="content">
    <p>...no tardamos mucho en darnos cuenta que teníamos muchas cosas en común.</p>
  </div>
</section>
<section class="spotlight">
  <div class="image">
    <img src="images/img003.jpg" alt="" />
  </div>
  <div class="content">
    <p>Y después de unos cuantos viajes y esperiencias compartidas, hemos decidido emprender uno de los más importantes de nuestra vida.</p>
  </div>
</section>
