<div class="inner">
  <header>
    <h2>Fotos & Video</h2>
    <iframe src="https://player.vimeo.com/video/469821122" width="640" height="360" frameborder="0"
      allow="autoplay; fullscreen" allowfullscreen></iframe>

    <p><a href="https://www.icloud.com/sharedalbum/#B0hGY8gBYGTJq5Q">👉👉 ¡¡Fotos con la familia!! 👈👈</a></p>

    <iframe src="https://player.vimeo.com/video/469819995" width="640" height="360" frameborder="0"
      allow="autoplay; fullscreen" allowfullscreen></iframe>
  </header>
</div>