<div class="inner">
  <header class="major">
    <h2>Alojamientos</h2>
    <p>Si vienes de fuera y quieres quedarte a dormir en Alhaurín de la Torre, te dejamos aquí algunas de las opciones:</p>
  </header>
  <ul>
    <li style="text-align:left;">
      <p><a href="https://www.porgusahoteles.com/hoteles/hotel-santa-clara">Hotel Santa Clara</a> es el hotel situado más cerca del centro urbano.</p>
    </li>
    <li style="text-align:left;">
      <p><a href="https://www.porgusahoteles.com/hoteles/hotel-miguel-sanchez">Hotel Miguel Sánchez</a> está situado a la entrada del municipio.</p>
    </li>
    <li style="text-align:left;">
      <p><a href="https://hotelcortijochico.com/">Hotel Cortijo Chico</a> está situado cerca de la autopista. Es un ****, así que es la opción menos económica.</p>
    </li>
  </ul>
  <p>Fuera de estas 3 opciones, siempre está la posibilidad de alojarse en Málaga, Torremolinos, o mirar en <a href="https://www.airbnb.es/">Airbnb</a>.</p>
</div>
