<!-- Header -->
<header id="header"{% if page.layout == 'landing' %} class="alt"{% endif %}>
  <h1><a href="{{ site.baseurl }}/">{{ site.title }}</a></h1>
  <nav id="nav">
    <ul>
      <li class="special">
        <a href="#menu" class="menuToggle"><span>Menu</span></a>
        <div id="menu">
          <ul>
            <li><a href="index.html">Bienvenidos</a></li>
            <li><a href="#intro" class="more scrolly">¡¡Nos casamos!!</a></li>
            <li><a href="#couple" class="more scrolly">Nosotros</a></li>
            <li><a href="#party" class="more scrolly">Celebración</a></li>
            <li><a href="#travel" class="more scrolly">Cómo llegar</a></li>
            <li><a href="#location" class="more scrolly">Mapa</a></li>
            <li><a href="#lodging" class="more scrolly">Alojamientos</a></li>
          </ul>
        </div>
      </li>
    </ul>
  </nav>
</header>
